* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    height: 100%;
}

main{
    height: 100%-90px;
}

/* HEADER */
header{
    height: 90px;
    box-shadow: 0px 0px 6px rgb(199, 199, 199);
    background-color: #fff;
}

.mobile-logo{
    display: none;
    max-width: 50px;
}

.ms-search{
    background-color: rgb(233, 233, 233);
    margin: 0px 20px;
}

.ms-search-bar{
    background-color: rgb(233, 233, 233);
    margin: 0px 20px;
    outline: none;
    border: none;
    flex-grow: 1;
}

.ms-alarm{
    color: rgb(255, 213, 0);
}

header i{
    cursor: pointer;
}

/* Control panel on the left */

.ms-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 170px;
    height: calc(100vh - 90px);
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    color: #fff;
    font-size: 18px;
    padding: 40px 30px ;
}

.ms-control-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

.ms-control-cont i{
    margin-right:  30px;
    max-width: 10px;
}

.ms-control-cont p{
    margin: 0;
}

.ms-control-cont:last-of-type{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: end;
}

.ms-control-cont:hover:not(:last-child){
    background-color: #ffffff43;
}

.ms-control-hover:hover{
    background-color: #ffffff43;
}


/* Plan */

#plan{
    background-color: #1B72E8;
    color: #fff;
    margin: 0;
}

.ms-pills{
    background-color: #165BBA;
}

.info-plus{
    display: none;
}

/* Tabella */

.table td:first-child {
    width: 30%;
}

.table td:last-child { 
    text-align: center;
}

.table td:nth-child(4) { 
    text-align: center;
}

.table img{
    clip-path: circle();
    max-width: 30px;
    display: inline;
    margin-right: 0.5rem;
}

.table tbody tr:hover td {
    background-color: #00000020; 
}

.text-bg-warning{
    color: #fff !important; 
}

/* MEADIA */
@media screen and (max-width:1200px){

}

@media screen and (max-width:992px){
    .ms-head-icon{
        display: none;
    }

    .mobile-logo{
        display: block;
    }

    .desktop-logo{
        display: none;
    }

    .ms-control{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
        height: calc(100vh - 90px);
        background-color: #051E34;
        background-image: url(../img/sidebar-bg.png);
        color: #fff;
        font-size: 22px;
        padding: 40px 30px ;
    }
    
    .ms-control-cont {
        margin-top: 10px;
    }
    
    .ms-control-cont p{
        display: none;
    }

    .info-md-hide{
        display: none;
    }

    .info-plus{
        display: inline;
    }
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:576px){
    .table td:nth-child(2),
    .table th:nth-child(2),
    .table td:nth-child(3),
    .table th:nth-child(3)  {
        display: none;
    }

    .table td:first-child {
        width: 50%;
    }
}